body {
  background-color: #232323;
}

h1,
a,
li,
h2,
p {
  color: #e5e7e9;
  font-family: Verdana, sans-serif;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  line-height: 150%;
}

.list-no-style {
  list-style: none;
}
